{% load static %}
<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'style/styles.css' %}">
  <title>Piano</title>
</head>
<body>

<audio id="C" src="{% static 'notes/C.mp3' %}"></audio>
<audio id="Db" src="{% static 'notes/Db.mp3' %}"></audio>
<audio id="D" src="{% static 'notes/D.mp3' %}"></audio>
<audio id="Eb" src="{% static 'notes/Eb.mp3' %}"></audio>
<audio id="E" src="{% static 'notes/E.mp3' %}"></audio>
<audio id="F" src="{% static 'notes/F.mp3' %}"></audio>
<audio id="Gb" src="{% static 'notes/Gb.mp3' %}"></audio>
<audio id="G" src="{% static 'notes/G.mp3' %}"></audio>
<audio id="Ab" src="{% static 'notes/Ab.mp3' %}"></audio>
<audio id="A" src="{% static 'notes/A.mp3' %}"></audio>
<audio id="Bb" src="{% static 'notes/Bb.mp3' %}"></audio>
<audio id="B" src="{% static 'notes/B.mp3' %}"></audio>


<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-one">
        <div class="piano">
            <div data-note="B" class="key white"></div>
            <div data-note="Bb" class="key black"></div>
            <div data-note="A" class="key white"></div>
            <div data-note="Ab" class="key black"></div>
            <div data-note="G" class="key white"></div>
            <div data-note="Gb" class="key black"></div>
            <div data-note="F" class="key white"></div>
            <div data-note="E" class="key white"></div>
            <div data-note="Eb" class="key black"></div>
            <div data-note="D" class="key white"></div>
            <div data-note="Db" class="key black"></div>
            <div data-note="C" class="key white"></div>
        </div>
    </div>
</div>

<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-card-four">
        <div class="w-content">
            <div id="glyphs">
                <div class="g" dir="ltr">
                    <p id="score_info" style="font-size:12em">&#96&#52&#52&#52&#52&#52&#52&#52&#52</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<form method="POST">{% csrf_token %}
    <input type="hidden" name="pressed" id="js_data_input">
    <input type="submit" value="צור לחן" class="mt-4 btn btn-primary"/>
    <a class="mt-4 btn btn-danger" href="{% url 'pages:rnn_lstm_generate' %}" role="button">עצור נגינה</a>
</form>

<script>
const WHITE_KEYS = ['z', 'x', 'c', 'v', 'b', 'n', 'm']
const BLACK_KEYS = ['s', 'd', 'g', 'h', 'j']

const keys = document.querySelectorAll('.key')
const whiteKeys = document.querySelectorAll('.key.white')
const blackKeys = document.querySelectorAll('.key.black')

let index = 0

let pressed = []

const notes_to_font = {'A': '&#41', 'B': '&#95', 'C': '&#37', 'D': '&#94', 'E': '&#38', 'F': '&#42', 'G': '&#40',
    'cleff': '&#96', 'empty': '&#52', 'Db': '&#78&#94', 'Eb': '&#77&#38', 'Gb': '&#62&#40', 'Ab': '&#63&#41',
    'Bb': '&#376&#95', 'end': '&#45'}

function pressed_to_score_str(pressed){
    let len = pressed.length
    let score = notes_to_font["cleff"]

    for(let i = 0; i < len; i++){
        score = score.concat(notes_to_font[pressed[i]])
    }

    if (len < 8){
        for (let i =0; i < 8 - len; i++){
            score = score.concat(notes_to_font["empty"])
        }
    }

    return score
}


keys.forEach(key => {
  key.addEventListener('click', () => playNote(key))
})

document.addEventListener('keydown', e => {
  if (e.repeat) return
  const key = e.key
  const whiteKeyIndex = WHITE_KEYS.indexOf(key)
  const blackKeyIndex = BLACK_KEYS.indexOf(key)

  if (whiteKeyIndex > -1) playNote(whiteKeys[whiteKeyIndex])
  if (blackKeyIndex > -1) playNote(blackKeys[blackKeyIndex])
})

function playNote(key) {
  const noteAudio = document.getElementById(key.dataset.note)
  noteAudio.currentTime = 0
  noteAudio.volume = 0.2
  noteAudio.play()
  pressed[index % 8] = key.dataset.note
  index++

  console.log(pressed.join())
  document.getElementById("js_data_input").value = pressed
    console.log(pressed_to_score_str(pressed))
  document.getElementById("score_info").innerHTML = pressed_to_score_str(pressed)
  key.classList.add('active')
  noteAudio.addEventListener('ended', () => {
    key.classList.remove('active')
  })
}

</script>
</html>