{% extends 'pages/base.html' %}
{% load static %}


{% block page-title %}{% endblock %}

{% block title %}אתגרים{% endblock %}

{% block body %}
<div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
        <div class="widget-content-area br-4">
            <div class="widget-one">

                <h2>אתגרים ובעיות ביצירת מלודיות באמצעות בינה מלאכותית</h2>
                <br><br>
                <p>
יצירת מלודיות באמצעות בינה מלאכותית מביאה עמה אתגרים רבים וביניהם:
                </p>
                <ol>
                    <li>
                        מוזיקה כאמנות התלויה בזמן - מלודיה מורכבת מרצף של תווים שנשמעים באופן סדרתי הניתנים
למדידה לאורך זמן. על כן, תהליך היצירה מורכב יותר בעקבות תלות זו, שלא כמו שאר בעיות  החיזוי שאינן תלויות במרכיב הזמן כדוגמת חיזוי נתונים, יצירת תמונות או בעיות סיווג.
                    </li>
                    <li>
הקשר בין אבני הבניין של המוזיקה – מעבר לקשר הכרונולוגי במוזיקה, קיימים קשרים פנימיים בין
אבני הבניין, לדוגמה לקשר אפשרי תהיה אם במידה והופיע בבית הראשון אקורד 𝐶, גם בבית  האחרון יופיע האקורד 𝐶 בהרמוניה גבוה או נמוכה יותר. על כן, ישנו קושי ליצור קשר בין אבני הבניין כך שיתאימו מבחינתי מוזיקלית אחד לשני.
                    </li>
                    <li>
הקשר בין הכלים השונים המנגנים יחדיו – לרוב בקטעי מוזיקה קיימים מספר רב של כלים והם
מנגנים יחד באופן מסונכרן, לכן לכל כלי יש עצמאות משלו ובנוסף הוא צריך להסתנכרן עם שאר  הכלים. על כן, הקושי במקרה זה הוא ביצירת מלודיה המורכבת ממספר כלים תוך ביצוע סנכרון ביניהם.
                    </li>
                    <li>
קושי בעיבוד גלי קול – על מנת לעבד גלי קול צריך לרדת לרזולוציית יחידות זמן מאוד גבוהה.
בנוסף, קיים קושי בהפרדת הכלים בהינתן גל קול המורכב ממספר כלים המנגנים יחד.
                    </li>
                </ol>
            </div>
        </div>
</div>

{% endblock %}
