{% extends 'pages/base.html' %}
{% load static %}


{% block page-title %}{% endblock %}

{% block title %}מודל GAN{% endblock %}

{% block body %}
<div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
        <div class="widget-content-area br-4">
            <div class="widget-one">

                <h2>אתגרים במודל ה-GAN הבסיסי</h2>
                <br><br>
                <p>
                    מודל GAN תהליך האימון של הגנרטור והמסווג מורכב מתחרות ביניהם במשחק "סכום אפס", וקיים צורך￼￼￼￼
לשמור על יציבות ביחסי הכוחות ביניהם כאשר משימה זו מהווה אתגר.
                </p>
                <p>
                    ￼בעיה נפוצה אחרת היא קריסת המודל לפיה הגנרטור דבק בדוגמאות ספציפיות שמצליחות לעבוד על
המסווג, אך אינן מייצגות את ההתפלגות האמיתית של הנתונים. הדבר מתבטא בכך שהגנרטור יוצר מספר￼

מצומצם של דוגמאות שמצליחות לעבוד על המסווג, אך לא מצליח לייצר גיוון מספק.
                </p>
                <p>
                    ￼כדי להימנע מבעיות אלו משתמשים בגרסה משופרת של מודל ה- GAN, הנקראת WGAN אשר במקום
להשתמש במסווג שמטרתו לסווג דוגמאות לאמיתיות ולא אמיתיות, הוא משתמש במבקר שתפקידו￼￼

להתאים ניקוד לכל דוגמא ולמדוד את ה"אמיתיות" של הדוגמא.
                </p>
                <p>
                    בנוסף, הגרסה המשופרת משתמשת בפונקציית loss שונה מזו השייכת למודל הבסיסי ושמה￼
wassertein loss אשר מבוססת על Earth moving distance.
                </p>
                <p>
                    בגרסה זו מטרת הגנרטור לצמצם את המרחק בין ההתפלגות של הנתונים להתפלגות הדוגמאות שהוא
                    מייצר בעוד שמטרת המבקר היא לחשב את המרחק בין ההתפלגויות.
                </p>
                <p>בפרויקט שלנו, נשתמש בשיפורים של WGAN.</p>
            </div>
        </div>
</div>



{% endblock %}
