{% extends 'pages/base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'assets/css/scrollspyNav.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'plugins/jquery-step/jquery.steps.css' %}">
<link rel="stylesheet" href="{% static 'style/styles.css' %}">
<script type='text/javascript' src='//www.midijs.net/lib/midi.js'></script>
<style>
#pageloader
{
  background: rgba( 255, 255, 255, 0.8 );
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

</style>
{% endblock %}

{% block body %}
<div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
        <div class="widget-content-area br-4">
            <div class="widget-one">
                <div id="pageloader">
                    <div class="loader mx-auto"></div>
                </div>
                <h2>יצירת מלודיות עם מספר כלים באמצעות GAN</h2>
                <br>
                <p>
                    לחץ על הכפתור ״צור לחן״ והמתן כדי ליצור לחן המשלב תופים, בס, פסנתר וכינורות.
                </p>
                <p>
                    לא כל הלחנים מוצלחים, מומלץ לנסות כמה פעמים.
                </p>
                <form method="POST" id="myform">
                    {% csrf_token %}
                    <input type="submit" value="צור לחן" class="mt-4 btn btn-primary"/>
                    <a class="mt-4 btn btn-danger" href="{% url 'pages:gan_generate' %}" role="button">עצור נגינה</a>
                    {% if generated %}
                        <img src="{% static 'img/speaker-icon-29707.png' %}"  alt="exmaple" style="max-height: 5%; max-width: 5%;  display: block;margin-left: auto;margin-right: auto;">
                    {% endif %}
                </form>

            </div>
        </div>

</div>


{% if generated %}
    <script>
        MIDIjs.play('{% static 'midi/generated/mel.mid' %}');
    </script>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{% static 'assets/js/scrollspyNav.js' %}"></script>
<script>
    $(document).ready(function(){
    $("#myform").on("submit", function(){
    $("#pageloader").fadeIn();
    });//submit
    });//document ready
</script>

{% endblock %}