{% extends 'pages/base.html' %}
{% load static %}


{% block page-title %}{% endblock %}

{% block title %}מודל GAN{% endblock %}

{% block body %}
<div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
        <div class="widget-content-area br-4">
            <div class="widget-one">

                <h2>מבוא ומוטיבציה לשימוש במודל ה-GAN</h2>
                <br><br>
                <p>
Generative Adversarial Network - הינו מודל גנרטיבי ללמידת מכונה שתוכנן על ידי איאן￼￼
גודפלו ועמיתיו בשנת 2014. לפי מודל זה, בהינתן סט אימון, ניתן להשתמש במודל על מנת ללמוד את￼￼
ההתפלגות שממנה מגיעים הנתונים. לאחר לימוד זה, נשתמש בתוצאותיו על מנת ליצור דגימות חדשות￼
שנראות כמו דגימות ששייכות למאגר הנתונים וכך לקבל יצירה חדשה.
                    מודל ה-GAN בנוי מ-2 יחידות:
                </p>
                <ol>
                    <li>
                        גנרטור - תפקיד הגנרטור הוא להתחקות אחר התפלגות ההסתברות של הדוגמאות עליהן ביצע
למידה ולאחר מכן לייצר דוגמא המתאימה להתפלגות זו.

                    </li>
                    <li>
                        המסווג - תפקיד המסווג ללמוד כיצד להבדיל בין דוגמא אמיתית, כלומר אחת כזו שמגיעה מה-
dataset לבין דוגמא שאינה אמיתית, כזו שנוצרה על ידי הגנרטור.

                    </li>
                </ol>
                <p>
                    במהלך השנים מודלים שונים של ה-GAN הראו תוצאות טובות בחילול תמונות אך עבור מוזיקה המשימה מאתגרת הרבה יותר. מוזיקה היא אמנות של זמן ועל כן קיים קושי בשימוש במודל זה לצורך חילול מלודיות הנובע מכך שארכיטקטורת המודל מבצעת תהליך למידה על דוגמאות קבועות בזמן.
                </p>
            </div>
        </div>
</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
        <div class="widget-content-area br-4">
            <div class="widget-one">

                <h2>ארכיטקטורת המודל</h2>
                <br><br>
                <p>
בדומה ל-GAN בסיסי, המודל שלנו מחולק לשני רכיבים עיקריים - גנרטור ומבקר.
                </p>
                <h5>גנרטור:</h5>
                <p>
                    על מנת לתת מענה לבעיה שהצגנו מעלה לפיה למוזיקה יש מורכבות של זמן, השתמשנו ברשת מורכבת יותר - רשת טמפורלית. רשת טמפורלית בנויה משני גנרטורים באופן הבא:
                </p>
                <p>
                    הגנרטור הראשון מקבל וקטור רעש רנדומלי ומייצר ממנו מטריצה המכילה 4 וקטורים כך שכל אחד מהם משמש כקלט לגנרטור השני שיוצר את הבית הבא וכך נוצר קשר בין הבתים - ניתן לראות זאת באיור הבא:
                </p>
                <br>
                <img src="{% static 'img/img_17.png' %}"  alt="exmaple" style="max-height: 65%; max-width: 65%;  display: block;margin-left: auto;margin-right: auto;">
                <p>
                    עד כה תיאור זה משמש עבור כלי אחד ולכן על מנת ליצור מלודיות מרובות כלים, השתמשנו במספר של רשתות טמפורליות - אחת לכל כלי.
                </p>
                <p>
                    בשלב זה, קיים סנכרון בין כל כלי לעצמו באמצעות הרשת הטמפורלית, אך מתעוררת בעיה של סנכרון בין כל הכלים, כלומר אחד לשני. במציאות קיים מנצח האחראי על סנכרון בין הכלים ולכן על מנת להתמודד עם בעיה זו השתמשנו ברשת רב כלית הבאה לידי ביטוי באמצעות הוספת וקטור רעש אקראי שיהיה משותף לכל הכלים וכך מתקיים קשר עצמאי בין כל כלי לעצמו ובין כל הכלים יחדיו.
                </p>
                <p>האיור הבא מתאר כיצד מתבצע סנכרון בין הכלים:</p>
                <br>
                <img src="{% static 'img/img_18.png' %}"  alt="exmaple" style="max-height: 65%; max-width: 65%;  display: block;margin-left: auto;margin-right: auto;">
                <br>
                <h5>הגנרטור המלא</h5>
                <p>
                    הגנרטור המלא משתמש בשני הרעיונות, רשת טמפורלית ורשת רב כלית שהוצגו לעיל, ובנוי בצורה הבאה:
                </p>
                <br>
                <img src="{% static 'img/img_19.png' %}"  alt="exmaple" style="max-height: 65%; max-width: 65%;  display: block;margin-left: auto;margin-right: auto;">
                <br>
                <p>
                    באיור ניתן לראות את גנרטור התיבות אשר מקבל כקלט וקטור רעש המורכב מארבעה חלקים שלכל אחד מהם תפקיד שונה ביצירת התיבה:
                </p>
                <ul>
                    <li>Chords - משותף בין כל הכלים ומשתנה בין תיבה לתיבה, יוצר קשר בין הכלים כתלות בזמן.</li>
                    <li>Style - משותף בין כל הכלים וזהה לכל התיבות, יוצר קשר בין הכלים ללא תלות בזמן.</li>
                    <li>Melody - מקנה עצמאות לכל כלי בנפרד כתלות בזמן.</li>
                    <li>Groove - מקנה עצמאות לכל כלי בנפרד ללא תלות בזמן.</li>
                </ul>
                <br>
                <h5>מבקר</h5>
                <p>תפקידו של המבקר הוא להתאים ניקוד לכל דוגמא ולמדוד את ״האמיתיות״ שלה.</p>
            </div>
        </div>
</div>


{% endblock %}
