{% extends 'pages/base.html' %}
{% load static %}


{% block page-title %}{% endblock %}

{% block title %}בית{% endblock %}

{% block body %}
<div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
        <div class="widget-content-area br-4">
            <div class="widget-one">

                <h2>ברוכים הבאים לפרויקט רוקט - הלחנת מלודיות באמצעות בינה מלאכותית</h2>
                <br><br>
                <p style="font-size:120%;">
                    כיום, לבינה מלאכותית קיימת השפעה ניכרת על כמעט כל התעשיות כמו בריאות, פיננסים, ניהול וכך גם על תעשיית המוזיקה.
                </p>
                <p style="font-size:120%;">
                    הטכנולוגיה העדכנית ביותר מגלה דפוסים ותובנות במערכות נתונים גדולות ומסייעת ביצירת קטעים טובים להאזנה אך ייתכן שאלו לא יהיו שירים נצחיים במקומות גבוהים במצעדים. כלומר, הבינה המלאכותית בתחום המוזיקה יכולה ליצור יצירה שעובדת היטב עבור סרטוני וידיאו, משחקי רשת או אפילו מסע בחנויות. המוזיקה הנוצרת היא לא רק זולה יותר, אלא ברוב המקרים אף עדיפה על גרסאות אנושיות.
                </p>
            </div>
        </div>

</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
    <div class="widget-content-area br-4">
        <div class="widget-one">

            <h2>קטעים נבחרים שנוצרו על ידי המודלים שלנו</h2>
            <br><br>
            <h3>מודל RNN LSTM</h3>
            <table>
                <tr>
                    <td>
                        <audio src="{% static 'best_results/rnn_piano_1.mp3' %}" type="audio/mpeg" controls="" preload="none">Your browser does not support the audio element.</audio>
                    </td>
                    <td>
                    </td>
                    <td style="padding: 1rem">
                        קטע פסנתר 1
                    </td>
                </tr>
                <tr>
                    <td>
                        <audio src="{% static 'best_results/rnn_piano_2.mp3' %}" type="audio/mpeg" controls="" preload="none">Your browser does not support the audio element.</audio>
                    </td>
                    <td>
                    </td>
                    <td style="padding: 1rem">
                        קטע פסנתר 2
                    </td>
                </tr>
                <tr>
                    <td>
                        <audio src="{% static 'best_results/rnn_multi.mp3' %}" type="audio/mpeg" controls="" preload="none">Your browser does not support the audio element.</audio>
                    </td>
                    <td>
                    </td>
                    <td style="padding: 1rem">
                        קטע רב כלי
                    </td>
                </tr>
            </table>
            <br>
            <h3>מודל GAN</h3>
            <table>
                <tr>
                    <td>
                        <audio src="{% static 'best_results/gan_1.mp3' %}" type="audio/mpeg" controls="" preload="none">Your browser does not support the audio element.</audio>
                    </td>
                    <td>
                    </td>
                    <td style="padding: 1rem">
                        קטע קצבי
                    </td>
                </tr>
                <tr>
                    <td>
                        <audio src="{% static 'best_results/gan_2.mp3' %}" type="audio/mpeg" controls="" preload="none">Your browser does not support the audio element.</audio>
                    </td>
                    <td>
                    </td>
                    <td style="padding: 1rem">
                        קטע פנטזיה
                    </td>
                </tr>
                <tr>
                    <td>
                        <audio src="{% static 'best_results/gan_3.mp3' %}" type="audio/mpeg" controls="" preload="none">Your browser does not support the audio element.</audio>
                    </td>
                    <td>
                    </td>
                    <td style="padding: 1rem">
                        קטע קצבי
                    </td>
                </tr>
            </table>
            <br>
            <a class="btn btn-success" href="https://forms.gle/QEprgQMvi5kfWtvs7" role="button">לחץ כאן כדי לדרג את המלודיות!</a>

        </div>
    </div>
</div>

{% endblock %}
