{% extends 'pages/base.html' %}
{% load static %}


{% block page-title %}{% endblock %}

{% block title %}מודל RNN LSTM{% endblock %}

{% block body %}
<div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
        <div class="widget-content-area br-4">
            <div class="widget-one">

                <h2>מודל RNN LSTM</h2>
                <br><br>
                <p>
                    מלודיה מורכבת מדפוסים מבניים לטווח ארוך ומחזרה של תבניות אלו, גם אם נעשו בהן שינויים קלים כדוגמת גובה הצליל או קטעים שעברו "מתיחה" או "כיווץ".
                </p>
                <p>
                    זיכרון לטווח קצר - ארוך LSTM הוא ארכיטקטורת רשת נוירונים חוזרת RNN המשמשת בתחום הלמידה העמוקה. המודל LSTM יודע לעבד רצפים שלמים של נתונים, ולא רק נקודות נתונים בודדות. כמו כן, רשתות ה- LSTM מתאימות לסיווג, עיבוד וחיזוי על סמך נתוני סדרות זמן, כלומר נתונים שמתקדמים בזמן כך שיש קשר של זמן ביניהם. כיום, קיימים שימושים רבים במודל זה לצרכי לימוד דקדוק, זיהוי קול, זיהוי וסיווג שפות וכדומה.
                </p>
                <p>
                    אם כן, מאחר ומודל זה משמש לעיבוד וחיזוי של שפה(טקסט), בחרנו לנסות להסתכל על מוזיקה כעל "שפה", כטקסט המכיל קשר של זמן, וכך לבצע חיזוי בכל פעם של התו הבא בתהליך יצירת המלודיה. אם כן, בחרנו להשתמש במודל זה על מנת ליצור את המכונה ליצירת מלודיות.
                </p>
            </div>
        </div>
</div>

{% endblock %}
