{% extends 'pages/base.html' %}
{% load static %}


{% block page-title %}{% endblock %}

{% block title %}מי אנחנו{% endblock %}

{% block body %}
<div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
        <div class="widget-content-area br-4">
            <div class="widget-one">

                <h2>מי אנחנו?</h2>
                <br><br>
                <p>מתוך אהבה לעולם המוזיקה, בחרנו לחקור כיצד מתקשר תחום הבינה המלאכותית לעולם זה.</p>
                <p>
לאחר מחקר רב בתחום החלטנו לנסות ליצור מכונה שג'נרטת(מייצרת) בעצמה מלודיות תוך ציפייה שנקבל לחנים חדשים ו"נעימים" להאזנה.                </p>
                <p>
                    התוכנה פותחה במסגרת פרויקט בבינה מלאכותית בטכניון - מוסד טכנולוגי לישראל.
                </p>
                <p>שני אופיר</p><p>ליאור שרמן</p><p>טל רוזנצוויג</p>
                <br><br><br>
                <a class="btn btn-success" href="javascript:void(0);" role="button">הדוח המלא להורדה</a>
            </div>
        </div>
</div>

{% endblock %}
